<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>LabBox: Book Lab Tests Online & Get Tested From Home in Surat</title>
    <meta name="description"
        content="Book health tests from home in Surat with LabBox at Doorstep. Get digital reports in-app. LabBox makes lab tests accessible and convenient for everyone.">
    </meta>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Webflow" name="generator" />
    <link href="css/index.webflow.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/" rel="preconnect" />

    <meta property="og:image" content="" />
    <meta property="og:title" content="LabBox: Book Lab Tests Online & Get Tested From Home in Surat" />
    <meta property="og:description"
        content="Book health tests from home in Surat with LabBox at Doorstep. Get digital reports in-app. LabBox makes lab tests accessible and convenient for everyone." />
    <meta property="og:url" content="https://www.labbox.life" />
    <meta property="og:type" content="website" />

    <link href="https://labbox.s3.ap-south-1.amazonaws.com/images/favicon.ico" rel="shortcut icon"
        type="image/x-icon" />

    <!-- CSS FILES -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="../public/home/css/bootstrap.min.css" rel="stylesheet">

    <link href="../public/home/css/bootstrap-icons.css" rel="stylesheet">

    <link href="../public/home/css/templatemo-kind-heart-charity.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Your custom CSS (if it's public) -->
    <link href="https://yourdomain.com/public/home/css/templatemo-kind-heart-charity.css" rel="stylesheet" />

</head>

<body id="section_1">
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/670fafa62480f5b4f58e4474/1iaakc928';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 d-flex flex-wrap">
                    <p class="d-flex me-4 mb-0">
                        <i class="bi-geo-alt me-2"></i>
                        Surat, Gujrat, India-395006
                    </p>

                    <p class="d-flex me-4 mb-0">
                        <i class="bi-envelope me-2"></i>
                        <a href="mailto:contact@labbox.life">contact@labbox.life</a>
                    </p>

                    <p class="d-flex mb-0">
                        <i class="bi-telephone me-2"></i>
                        <a href="tel:+919924722248">+91 99247-22248</a>
                    </p>
                </div>

                <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                    <ul class="social-icon">
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-twitter"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-facebook"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-instagram"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-youtube"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-whatsapp"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- Navbar Section -->
    <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
            <div class="d-flex justify-content-between w-100 align-items-center">
                <!-- Logo aligned to the left -->
                <a class="navbar-brand" href="/">
                    <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/logo.svg" class="img-fluid"
                        style="max-width: 40%;" alt="LabBox">
                </a>

                <!-- Toggle button aligned to the right on small screens -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#top">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_2">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_3">Career</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="section_4">Contact</a>
                    </li>
                    <!-- Add additional links as needed -->
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <!-- DONE -->
        <section class="hero-section hero-section-full-height">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12 col-12 p-0">
                        <div id="hero-slide" class="carousel carousel-fade slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">

                                    <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/slide/Quick-Appointment.png"
                                        class="carousel-image img-fluid" alt="...">

                                    <!-- <div class="carousel-caption d-flex flex-column justify-content-end homepage-slider-text-head">
                                            <h1>Quick Appointment Booking</h1>
                                            
                                            <p>Effortlessly schedule your tests in just a few taps with our streamlined, user-friendly interface.</p>
                                        </div> -->
                                </div>

                                <div class="carousel-item">
                                    <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/slide/Home-Sample-Collection.jpg"
                                        class="carousel-image img-fluid" alt="...">

                                    <!-- <div class="carousel-caption d-flex flex-column justify-content-end">
                                            <h1>Home Sample Collection</h1>
                                            
                                            <p>Our expert team arrives at your doorstep to collect samples, offering you unparalleled convenience and peace of mind.</p>
                                        </div> -->
                                </div>

                                <div class="carousel-item">
                                    <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/slide/Instant-Reports.jpg"
                                        class="carousel-image img-fluid" alt="...">

                                    <!-- <div class="carousel-caption d-flex flex-column justify-content-end">
                                            <h1>Instant Reports</h1>
                                            
                                            <p>Get detailed, certified test results delivered directly to your phone in real-time, so you can stay informed and in control of your health.</p>
                                        </div> -->
                                </div>
                            </div>

                            <button class="carousel-control-prev" type="button" data-bs-target="#hero-slide"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>

                            <button class="carousel-control-next" type="button" data-bs-target="#hero-slide"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- DONE -->
        <section class="section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12 text-center mx-auto">
                        <h2 class="mb-5">Welcome to LabBox.life</h2>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 mb-4 mb-lg-0">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="/" class="d-block">
                                <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/icons/prescription.png"
                                    class="featured-block-image img-fluid" alt="" style="width: 100px;">

                                <p class="featured-block-text"><strong>Free Reports<br></strong>Consultation </p>

                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 mb-4 mb-lg-0 mb-md-4">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="/" class="d-block">
                                <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/icons/saving-money.png"
                                    class="featured-block-image img-fluid" alt="" style="width: 100px;">

                                <p class="featured-block-text">Most <strong>Affordable<br>Pricing</strong></p>

                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 mb-4 mb-lg-0 mb-md-4">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="/" class="d-block">
                                <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/icons/blood-sample.png"
                                    class="featured-block-image img-fluid" alt="" style="width: 100px;">

                                <p class="featured-block-text"><strong>On-time</strong> Sample<br>Collection</p>

                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-6 mb-4 mb-lg-0">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="/" class="d-block">

                                <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/icons/nabl-certified.png"
                                    class="featured-block-image img-fluid" alt="" style="width: 100px;">
                                <p class="featured-block-text"><strong>NABL </strong> Certified<br>Labs</p>

                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- DONE -->
        <section class="section-padding section-bg" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                        <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/lab-home.svg"
                            class="custom-text-box-image img-fluid" alt="">
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="custom-text-box">
                            <h2 class="mb-2">Our Story</h2>

                            <h5 class="mb-3">LabBox</h5>

                            <p class="mb-0">LabBox was founded in 2023 with a vision to provide affordable blood
                                tests
                                and diagnostics. In just 1 year, we've supported 75,000 people in Surat by delivering
                                accurate reports at lower prices. Partnering with certified laboratories, we ensure
                                every report meets high standards of quality and accuracy. Our goal is to expand
                                nationwide, making healthcare accessible to everyone across India.</p>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="custom-text-box mb-lg-0">
                                    <h5 class="mb-3">Our Mission</h5>

                                    <p>Our mission is to serve 500 million Indians by 2030 with accurate, affordable
                                        diagnostics. We plan to expand our network by partnering with more verified
                                        labs, ensuring high-quality healthcare for all.</p>

                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="custom-text-box d-flex flex-wrap d-lg-block mb-lg-0"
                                    style="padding: 20px !important;">
                                    <div class="counter-thumb">
                                        <div class="d-flex">
                                            <span class="counter-number" data-from="1" data-to="2023"
                                                data-speed="1000"></span>
                                            <span class="counter-number-text"></span>
                                        </div>

                                        <span class="counter-text">Founded</span>
                                    </div>
                                    <div class="counter-thumb">
                                        <div class="d-flex">
                                            <span class="counter-number" data-from="1" data-to="55"
                                                data-speed="1000"></span>
                                            <span class="counter-number-text"></span>
                                        </div>

                                        <span class="counter-text">Listed labs</span>
                                    </div>

                                    <div class="counter-thumb mt-4">
                                        <div class="d-flex">
                                            <span class="counter-number" data-from="1" data-to="75"
                                                data-speed="1000"></span>
                                            <span class="counter-number-text">K+</span>
                                        </div>

                                        <span class="counter-text">Done test</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- DONE -->
        <section class="section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12 text-center mx-auto">
                        <h2 class="mb-5">An App Designed for Your Family's Health Needs</h2>
                    </div>

                    <div class="container">
                        <div class="row image-position">

                            <!-- First Image comes first on small screens, centered -->
                            <div class="col-lg-6 col-12 order-1 order-lg-2 text-center">
                                <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/100pr-safe.svg"
                                    class="volunteer-image img-fluid mx-auto" alt="">
                            </div>

                            <!-- First Content -->
                            <div class="col-lg-6 col-12 order-2 order-lg-1">
                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">100% Safe, Hygienic, and Reliable</h5>
                                        <p>Our team of pathologists and sample collectors ensures total safety and
                                            hygienic practices throughout the process.</p>
                                    </div>
                                </div>
                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Home Sample Collection</h5>
                                        <p>Our trained professionals will collect samples from the comfort of your home,
                                            ensuring the highest standards of safety and hygiene throughout the process.
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <!-- <div class="col-lg-6 col-12">
                                <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/100pr-safe.svg" class="volunteer-image img-fluid" alt="">
                            </div> -->

                        </div>
                    </div>

                    <div class="container">
                        <div class="row">

                            <!-- Second Image comes first on small screens, centered -->
                            <div class="col-lg-6 col-12 order-1 order-lg-1 text-center">
                                <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/100pr-logo.svg"
                                    class="volunteer-image img-fluid mx-auto" alt="">
                            </div>

                            <!-- Second Content -->
                            <div class="col-lg-6 col-12 order-2 order-lg-2">
                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Easily Download Your Digital Reports</h5>
                                        <p>Download your reports with just one tap! Keep all your health checkup reports
                                            organized in one place within the app.</p>
                                    </div>
                                </div>
                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Budget-Friendly Rates</h5>
                                        <p>Book your tests at prices that are more affordable compared to industry
                                            standards.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- DONE -->
        <section class="section-padding section-bg">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 text-center mb-4">
                        <h2>Assured Quality from LabBox's Partnered Certified Labs</h2>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="custom-block-wrap">
                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <h5 class="mb-3">NABL and ISO Certified Partners for Trusted Quality</h5>

                                    <p>LabBox partners with certified laboratories that adhere to NABL (National
                                        Accreditation Board for Testing and Calibration Laboratories) standards and ISO
                                        15189:2012 guidelines, ensuring the highest accuracy in every test. These
                                        certifications reflect our dedication to connecting you with labs that maintain
                                        top-tier quality control and diagnostic practices. Through our trusted partners,
                                        we ensure reliable and precise results, promoting the well-being of society.</p>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="custom-block-wrap">
                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <h5 class="mb-3">Six Sigma Quality Processes</h5>
                                    <p>We recently partnered with a world-class laboratory to learn and implement Six
                                        Sigma Metrics, which we will now apply through our certified labs. Six Sigma
                                        focuses on minimizing defects and errors while reducing variation, leading to
                                        high-quality outcomes. Our partnered NRL Labs have achieved a Six Sigma score
                                        with 99.99% accuracy in meeting test requirements, demonstrating our commitment
                                        to excellence and adherence to international standards.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="custom-block-wrap">
                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <h5 class="mb-3">Advanced Patented Technology</h5>
                                    <p>Real-time temperature monitoring is crucial for maintaining the integrity of our
                                        samples. Our advanced system tracks temperature changes continuously, ensuring
                                        that samples remain stable and uncompromised before testing. This process allows
                                        us to deliver the most accurate test results, reinforcing our commitment to
                                        quality and reliability in diagnostics through our certified labs.</p>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- DONE -->
        <section class="section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 text-center mx-auto">
                        <h2 class="mb-5">Our Key Principles</h2>
                    </div>

                    <div class="col-lg-2 col-md-6 col-6 mb-4 mb-lg-0">
                        <div class="key-principles d-flex justify-content-center align-items-center">
                            <a href="/" class="d-block">
                                <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/icons/customer-first.png"
                                    class="featured-block-image img-fluid" alt="" style="width: 100px;">

                                <p class="featured-block-text" style="font-size: 20px !important;"><strong>
                                        CustomerFirst</strong></p>

                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-6 mb-4 mb-lg-0 mb-md-4">
                        <div class="key-principles d-flex justify-content-center align-items-center">
                            <a href="/" class="d-block">
                                <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/icons/quality.png"
                                    class="featured-block-image img-fluid" alt="" style="width: 100px;">

                                <p class="featured-block-text" style="font-size: 20px !important;">
                                    <strong>Quality</strong>
                                </p>

                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-6 mb-4 mb-lg-0 mb-md-4">
                        <div class="key-principles d-flex justify-content-center align-items-center">
                            <a href="/" class="d-block">
                                <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/icons/Integrity.png"
                                    class="featured-block-image img-fluid" alt="" style="width: 100px;">

                                <p class="featured-block-text" style="font-size: 20px !important;">
                                    <strong>Integrity</strong>
                                </p>

                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-6 mb-4 mb-lg-0">
                        <div class="key-principles d-flex justify-content-center align-items-center">
                            <a href="/" class="d-block">

                                <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/icons/sustainability.png"
                                    class="featured-block-image img-fluid" alt="" style="width: 100px;">
                                <p class="featured-block-text" style="font-size: 20px !important;">
                                    <strong>Sustainability</strong>
                                </p>

                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-6 mb-4 mb-lg-0">
                        <div class="key-principles d-flex justify-content-center align-items-center">
                            <a href="labbox.life" class="d-block">

                                <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/icons/efficacy.png"
                                    class="featured-block-image img-fluid" alt="" style="width: 100px;">
                                <p class="featured-block-text" style="font-size: 20px !important;">
                                    <strong>Efficiency</strong>
                                </p>

                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-6 mb-4 mb-lg-0">
                        <div class="key-principles d-flex justify-content-center align-items-center">
                            <a href="/" class="d-block">

                                <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/icons/Respect.png"
                                    class="featured-block-image img-fluid" alt="" style="width: 100px;">
                                <p class="featured-block-text" style="font-size: 20px !important;">
                                    <strong>Respect</strong>
                                </p>

                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="cta-section section-padding section-bg">
            <div class="container">
                <div class="row justify-content-center align-items-center">

                    <div class="col-lg-5 col-12 ms-auto">
                        <h2 class="mb-0">Make an impact. <br> Save lives.</h2>
                    </div>

                    <div class="col-lg-5 col-12">
                        <a href="#" class="me-4">Make a donation</a>

                        <a href="#section_4" class="custom-btn btn smoothscroll">Become a volunteer</a>
                    </div>

                </div>
            </div>
        </section>


        <!-- <section class="section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 text-center mb-4">
                        <h2>Our Causes</h2>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="custom-block-wrap">
                            <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/causes/group-african-kids-paying-attention-class.jpg"
                                class="custom-block-image img-fluid" alt="">

                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <h5 class="mb-3">Children Education</h5>

                                    <p>Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm tokito</p>

                                    <div class="progress mt-4">
                                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="d-flex align-items-center my-2">
                                        <p class="mb-0">
                                            <strong>Raised:</strong>
                                            $18,500
                                        </p>

                                        <p class="ms-auto mb-0">
                                            <strong>Goal:</strong>
                                            $32,000
                                        </p>
                                    </div>
                                </div>

                                <a href="/" class="custom-btn btn">Donate now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="custom-block-wrap">
                            <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/causes/poor-child-landfill-looks-forward-with-hope.jpg"
                                class="custom-block-image img-fluid" alt="">

                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <h5 class="mb-3">Poverty Development</h5>

                                    <p>Sed leo nisl, posuere at molestie ac, suscipit auctor mauris. Etiam quis metus
                                        tempor</p>

                                    <div class="progress mt-4">
                                        <div class="progress-bar w-50" role="progressbar" aria-valuenow="50"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="d-flex align-items-center my-2">
                                        <p class="mb-0">
                                            <strong>Raised:</strong>
                                            $27,600
                                        </p>

                                        <p class="ms-auto mb-0">
                                            <strong>Goal:</strong>
                                            $60,000
                                        </p>
                                    </div>
                                </div>

                                <a href="/" class="custom-btn btn">Donate now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="custom-block-wrap">
                            <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/causes/african-woman-pouring-water-recipient-outdoors.jpg"
                                class="custom-block-image img-fluid" alt="">

                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <h5 class="mb-3">Supply drinking water</h5>

                                    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                    </p>

                                    <div class="progress mt-4">
                                        <div class="progress-bar w-100" role="progressbar" aria-valuenow="100"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                    <div class="d-flex align-items-center my-2">
                                        <p class="mb-0">
                                            <strong>Raised:</strong>
                                            $84,600
                                        </p>

                                        <p class="ms-auto mb-0">
                                            <strong>Goal:</strong>
                                            $100,000
                                        </p>
                                    </div>
                                </div>

                                <a href="/" class="custom-btn btn">Donate now</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section> -->

        <section class="volunteer-section section-padding" id="section_3">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <h2 class="text-white mb-4">Phlebotomist</h2>

                        <form class="custom-form volunteer-form mb-5 mb-lg-0" action="#" method="post" role="form">
                            <h3 class="mb-4">Become a Phlebo today</h3>

                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <input type="text" name="volunteer-name" id="volunteer-name" class="form-control"
                                        placeholder="Jack Doe" required>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <input type="email" name="volunteer-email" id="volunteer-email"
                                        pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Jackdoe@gmail.com"
                                        required>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <input type="text" name="volunteer-subject" id="volunteer-subject"
                                        class="form-control" placeholder="Subject" required>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="input-group input-group-file">
                                        <input type="file" class="form-control" id="inputGroupFile02">

                                        <label class="input-group-text" for="inputGroupFile02">Upload your CV</label>

                                        <i class="bi-cloud-arrow-up ms-auto"></i>
                                    </div>
                                </div>
                            </div>

                            <textarea name="volunteer-message" rows="3" class="form-control" id="volunteer-message"
                                placeholder="Comment (Optional)"></textarea>

                            <button type="submit" class="form-control">Submit</button>
                        </form>
                    </div>

                    <div class="col-lg-6 col-12">
                        <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/phlebotomist.svg"
                            class="volunteer-image img-fluid" alt="">

                        <div class="custom-block-body text-center">
                            <h4 class="text-white mt-lg-3 mb-lg-3">About Phlebotomist</h4>

                            <p class="text-white">Phlebotomists are responsible for collecting blood samples, ensuring
                                patient comfort and safety, and maintaining accurate documentation for diagnostic
                                testing.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- <section class="news-section section-padding" id="section_5">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 mb-5">
                        <h2>Latest News</h2>
                    </div>

                    <div class="col-lg-7 col-12">
                        <div class="news-block">
                            <div class="news-block-top">
                                <a href="news-detail">
                                    <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/news/medium-shot-volunteers-with-clothing-donations.jpg"
                                        class="news-image img-fluid" alt="">
                                </a>

                                <div class="news-category-block">
                                    <a href="#" class="category-block-link">
                                        Lifestyle,
                                    </a>

                                    <a href="#" class="category-block-link">
                                        Clothing Donation
                                    </a>
                                </div>
                            </div>

                            <div class="news-block-info">
                                <div class="d-flex mt-2">
                                    <div class="news-block-date">
                                        <p>
                                            <i class="bi-calendar4 custom-icon me-1"></i>
                                            October 12, 2036
                                        </p>
                                    </div>

                                    <div class="news-block-author mx-5">
                                        <p>
                                            <i class="bi-person custom-icon me-1"></i>
                                            By Admin
                                        </p>
                                    </div>

                                    <div class="news-block-comment">
                                        <p>
                                            <i class="bi-chat-left custom-icon me-1"></i>
                                            32 Comments
                                        </p>
                                    </div>
                                </div>

                                <div class="news-block-title mb-2">
                                    <h4><a href="news-detail" class="news-block-title-link">Clothing donation to
                                            urban area</a></h4>
                                </div>

                                <div class="news-block-body">
                                    <p>Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg kohm tokito
                                        Professional charity theme based on Bootstrap</p>
                                </div>
                            </div>
                        </div>

                        <div class="news-block mt-3">
                            <div class="news-block-top">
                                <a href="news-detail">
                                    <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/news/medium-shot-people-collecting-foodstuff.jpg"
                                        class="news-image img-fluid" alt="">
                                </a>

                                <div class="news-category-block">
                                    <a href="#" class="category-block-link">
                                        Food,
                                    </a>

                                    <a href="#" class="category-block-link">
                                        Donation,
                                    </a>

                                    <a href="#" class="category-block-link">
                                        Caring
                                    </a>
                                </div>
                            </div>

                            <div class="news-block-info">
                                <div class="d-flex mt-2">
                                    <div class="news-block-date">
                                        <p>
                                            <i class="bi-calendar4 custom-icon me-1"></i>
                                            October 20, 2036
                                        </p>
                                    </div>

                                    <div class="news-block-author mx-5">
                                        <p>
                                            <i class="bi-person custom-icon me-1"></i>
                                            By Admin
                                        </p>
                                    </div>

                                    <div class="news-block-comment">
                                        <p>
                                            <i class="bi-chat-left custom-icon me-1"></i>
                                            35 Comments
                                        </p>
                                    </div>
                                </div>

                                <div class="news-block-title mb-2">
                                    <h4><a href="news-detail" class="news-block-title-link">Food donation area</a>
                                    </h4>
                                </div>

                                <div class="news-block-body">
                                    <p>Sed leo nisl, posuere at molestie ac, suscipit auctor mauris. Etiam quis metus
                                        elementum, tempor risus vel, condimentum orci</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mx-auto">
                        <form class="custom-form search-form" action="#" method="get" role="form">
                            <input name="search" type="search" class="form-control" id="search" placeholder="Search"
                                aria-label="Search">

                            <button type="submit" class="form-control">
                                <i class="bi-search"></i>
                            </button>
                        </form>

                        <h5 class="mt-5 mb-3">Recent news</h5>

                        <div class="news-block news-block-two-col d-flex mt-4">
                            <div class="news-block-two-col-image-wrap">
                                <a href="news-detail">
                                    <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/news/africa-humanitarian-aid-doctor.jpg"
                                        class="news-image img-fluid" alt="">
                                </a>
                            </div>

                            <div class="news-block-two-col-info">
                                <div class="news-block-title mb-2">
                                    <h6><a href="news-detail" class="news-block-title-link">Food donation area</a>
                                    </h6>
                                </div>

                                <div class="news-block-date">
                                    <p>
                                        <i class="bi-calendar4 custom-icon me-1"></i>
                                        October 16, 2036
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="news-block news-block-two-col d-flex mt-4">
                            <div class="news-block-two-col-image-wrap">
                                <a href="news-detail">
                                    <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/news/close-up-happy-people-working-together.jpg"
                                        class="news-image img-fluid" alt="">
                                </a>
                            </div>

                            <div class="news-block-two-col-info">
                                <div class="news-block-title mb-2">
                                    <h6><a href="news-detail" class="news-block-title-link">Volunteering Clean</a>
                                    </h6>
                                </div>

                                <div class="news-block-date">
                                    <p>
                                        <i class="bi-calendar4 custom-icon me-1"></i>
                                        October 24, 2036
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="category-block d-flex flex-column">
                            <h5 class="mb-3">Categories</h5>

                            <a href="#" class="category-block-link">
                                Drinking water
                                <span class="badge">20</span>
                            </a>

                            <a href="#" class="category-block-link">
                                Food Donation
                                <span class="badge">30</span>
                            </a>

                            <a href="#" class="category-block-link">
                                Children Education
                                <span class="badge">10</span>
                            </a>

                            <a href="#" class="category-block-link">
                                Poverty Development
                                <span class="badge">15</span>
                            </a>

                            <a href="#" class="category-block-link">
                                Clothing Donation
                                <span class="badge">20</span>
                            </a>
                        </div>

                        <div class="tags-block">
                            <h5 class="mb-3">Tags</h5>

                            <a href="#" class="tags-block-link">
                                Donation
                            </a>

                            <a href="#" class="tags-block-link">
                                Clothing
                            </a>

                            <a href="#" class="tags-block-link">
                                Food
                            </a>

                            <a href="#" class="tags-block-link">
                                Children
                            </a>

                            <a href="#" class="tags-block-link">
                                Education
                            </a>

                            <a href="#" class="tags-block-link">
                                Poverty
                            </a>

                            <a href="#" class="tags-block-link">
                                Clean Water
                            </a>
                        </div>

                        <form class="custom-form subscribe-form" action="#" method="get" role="form">
                            <h5 class="mb-4">Newsletter Form</h5>

                            <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*"
                                class="form-control" placeholder="Email Address" required>

                            <div class="col-lg-12 col-12">
                                <button type="submit" class="form-control">Subscribe</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section> -->


        <section class="testimonial-section section-padding section-bg">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h2 class="mb-lg-3">Happy Customers</h2>

                        <div id="testimonial-carousel" class="carousel carousel-fade slide" data-bs-ride="carousel">

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="carousel-caption">
                                        <h4 class="carousel-title">Very good services by labbox. Hats off. They
                                            delivered report on whatsapp & save time of mine. Thanks</h4>

                                        <small class="carousel-name"><span class="carousel-name-title">Shakti
                                                Tripathi</span></small>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="carousel-caption">
                                        <h4 class="carousel-title">Well experienced and cooperative management with
                                            plenty of options for reasonable body check up plans at our choice of lab
                                        </h4>

                                        <small class="carousel-name"><span class="carousel-name-title">Jenish
                                                Dholariya</span></small>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="carousel-caption">
                                        <h4 class="carousel-title">Fantastic and fast service as well as convenient and
                                            reasonable rate. Save time and money. Thank you LabBox.</h4>

                                        <small class="carousel-name"><span class="carousel-name-title">Hetvi
                                                Agrewal</span></small>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="carousel-caption">
                                        <h4 class="carousel-title">wow. this is really good service. i just ordered for
                                            B12.person arrived on time and took sample and got quick report.</h4>

                                        <small class="carousel-name"><span class="carousel-name-title">Akshay
                                                Gondaliya</span></small>
                                    </div>
                                </div>

                                <ol class="carousel-indicators">
                                    <li data-bs-target="#testimonial-carousel" data-bs-slide-to="0" class="active">
                                        <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/avatar/portrait-beautiful-young-woman-standing-grey-wall.jpg"
                                            class="img-fluid rounded-circle avatar-image" alt="avatar">
                                    </li>

                                    <li data-bs-target="#testimonial-carousel" data-bs-slide-to="1" class="">
                                        <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/avatar/portrait-young-redhead-bearded-male.jpg"
                                            class="img-fluid rounded-circle avatar-image" alt="avatar">
                                    </li>

                                    <li data-bs-target="#testimonial-carousel" data-bs-slide-to="2" class="">
                                        <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/avatar/pretty-blonde-woman-wearing-white-t-shirt.jpg"
                                            class="img-fluid rounded-circle avatar-image" alt="avatar">
                                    </li>

                                    <li data-bs-target="#testimonial-carousel" data-bs-slide-to="3" class="">
                                        <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/avatar/studio-portrait-emotional-happy-funny.jpg"
                                            class="img-fluid rounded-circle avatar-image" alt="avatar">
                                    </li>
                                </ol>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="contact-section section-padding" id="section_4">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-12 ms-auto mb-5 mb-lg-0">
                        <div class="contact-info-wrap">
                            <h2>Get in touch</h2>

                            <div class="contact-image-wrap d-flex flex-wrap">
                                <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/logo.svg" class=""
                                    style="width: 70%;" alt="">
                            </div>

                            <div class="contact-info">
                                <h5 class="mb-3">Contact Infomation</h5>

                                <p class="d-flex mb-2">
                                    <i class="bi-geo-alt me-2"></i>
                                    102, 1st Floor, Anupam Square, Mahadev Chowk, Motavarachaa, Surat, Gujarat 395006
                                </p>

                                <p class="d-flex mb-2">
                                    <i class="bi-telephone me-2"></i>

                                    <a href="tel:+919924722248">
                                        +91 99247-22248
                                    </a>
                                </p>

                                <p class="d-flex">
                                    <i class="bi-envelope me-2"></i>

                                    <a href="mailto:contact@labbox.life">
                                        contact@labbox.life
                                    </a>
                                </p>

                                <a href="https://maps.app.goo.gl/VpMJNsnafDWHTQvN8" target="_blank"
                                    class="custom-btn btn mt-3">Get Direction</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-12 mx-auto">
                        <form class="custom-form contact-form" action="#" method="post" role="form">
                            <h2>Contact form</h2>

                            <p class="mb-4">Or, you can just send an email:
                                <a href="#">contact@labbox.life</a>
                            </p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <input type="text" name="first-name" id="first-name" class="form-control"
                                        placeholder="Jack" required>
                                </div>

                                <div class="col-lg-6 col-md-6 col-12">
                                    <input type="text" name="last-name" id="last-name" class="form-control"
                                        placeholder="Doe" required>
                                </div>
                            </div>

                            <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control"
                                placeholder="Jackdoe@gmail.com" required>

                            <textarea name="message" rows="5" class="form-control" id="message"
                                placeholder="What can we help you?"></textarea>

                            <button type="submit" class="form-control">Send Message</button>
                        </form>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-4">
                    <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/vertical-logo.svg" class="footer-logo"
                        style="width: 50%;" alt="">
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <h5 class="site-footer-title mb-3">Quick Links</h5>

                    <ul class="footer-menu">
                        <li class="footer-menu-item"><a href="privacy-policy" class="footer-menu-link">Privacy
                                Policy</a></li>
                        <li class="footer-menu-item"><a href="terms-of-use" class="footer-menu-link">Terms of
                                service</a></li>
                        <li class="footer-menu-item"><a href="refund-policy" class="footer-menu-link">Cancellation &
                                Refund Policy</a></li>

                        <li class="footer-menu-item"><a href="#section_3" class="footer-menu-link">Become a
                                Phlebotomist</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Partner with us</a></li>

                        <li class="footer-menu-item "><a href="delete-account" class="footer-menu-link">Delete
                                Account</a></li>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mx-auto">
                    <h5 class="site-footer-title mb-3">Contact Infomation</h5>

                    <p class="text-white d-flex mb-2">
                        <i class="bi-telephone me-2"></i>

                        <a href="tel:+919924722248" class="site-footer-link">
                            +91 99247-22248
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <i class="bi-envelope me-2"></i>

                        <a href="mailto:contact@labbox.life" class="site-footer-link">
                            contact@labbox.life
                        </a>
                    </p>

                    <p class="text-white d-flex mt-3">
                        <i class="bi-geo-alt me-2"></i>
                        102, 1st Floor, Anupam Square, Mahadev Chowk, Motavarachaa, Surat, Gujarat 395006
                    </p>

                    <a href="https://maps.app.goo.gl/VpMJNsnafDWHTQvN8" target="_blank" class="custom-btn btn mt-3">Get
                        Direction</a>
                </div>
            </div>
        </div>

        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-7 col-12">
                        <p class="copyright-text mb-0">Copyright  2021 <a href="#">Labbox.life</a><a
                                href="https://labbpx.life" target="_blank"></a></p>
                    </div>

                    <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-twitter"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-facebook"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-instagram"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-linkedin"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="https://youtube.com/templatemo" class="social-icon-link bi-youtube"></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <!-- <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/click-scroll.js"></script>
    <script src="js/counter.js"></script>
    <script src="js/custom.js"></script> -->

    <script src="../public/home/js/jquery.min.js"></script>
    <script src="../public/home/js/bootstrap.min.js"></script>
    <script src="../public/home/js/jquery.sticky.js"></script>
    <script src="../public/home/js/click-scroll.js"></script>
    <script src="../public/home/js/counter.js"></script>
    <script src="../public/home/js/custom.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-[insert-the-correct-hash-here]" crossorigin="anonymous"></script>
    <script type="module" src="https://cdn.skypack.dev/counter.js"></script>


</body>

</html>