<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>LabBox: Book Lab Tests Online & Get Tested From Home in Surat</title>
    <meta name="description"
        content="Book health tests from home in Surat with LabBox at Doorstep. Get digital reports in-app. LabBox makes lab tests accessible and convenient for everyone.">
    </meta>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Webflow" name="generator" />
    <link href="css/index.webflow.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/" rel="preconnect" />

    <meta property="og:image" content="" />
    <meta property="og:title" content="LabBox: Book Lab Tests Online & Get Tested From Home in Surat" />
    <meta property="og:description"
        content="Book health tests from home in Surat with LabBox at Doorstep. Get digital reports in-app. LabBox makes lab tests accessible and convenient for everyone." />
    <meta property="og:url" content="https://www.labbox.life" />
    <meta property="og:type" content="website" />

    <link href="https://labbox.s3.ap-south-1.amazonaws.com/images/favicon.ico" rel="shortcut icon"
        type="image/x-icon" />

   <!-- CSS FILES -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="../public/home/css/bootstrap.min.css" rel="stylesheet">

    <link href="../public/home/css/bootstrap-icons.css" rel="stylesheet">

    <link href="../public/home/css/templatemo-kind-heart-charity.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Your custom CSS (if it's public) -->
    <link href="https://yourdomain.com/public/home/css/templatemo-kind-heart-charity.css" rel="stylesheet" />


</head>

<body id="section_1">
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function() {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/670fafa62480f5b4f58e4474/1iaakc928';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <header class="site-header">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 d-flex flex-wrap">
                    <p class="d-flex me-4 mb-0">
                        <i class="bi-geo-alt me-2"></i>
                        Surat, Gujrat, India-395006
                    </p>

                    <p class="d-flex me-4 mb-0">
                        <i class="bi-envelope me-2"></i>

                        <a href="mailto:contact@labbox.life">
                            contact@labbox.life
                        </a>
                    </p>
                    <p class="d-flex mb-0">
                        <i class="bi-telephone me-2"></i>

                        <a href="tel:+919924722248">
                            +91 99247-22248
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                    <ul class="social-icon">
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-twitter"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-facebook"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-instagram"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-youtube"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-whatsapp"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <!-- <embed src="https://labbox.s3.ap-south-1.amazonaws.com/images/mainlogo.svg" width="100px"> -->

                <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/logo.svg" class="img-fluid"
                    style="max-width: 40% !important;" alt="LabBox">

            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#top">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_2">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_3">Career</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="section_4">Contact</a>
                    </li>

                    <!-- <li class="nav-item ms-3">
                        <a class="nav-link custom-btn custom-border-btn btn" href="/">Download App</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <main>

        <!-- DONE -->
        <section class="section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12 text-center mx-auto">
                        <h2 class="mb-5">LabBox Privacy Policy</h2>
                    </div>
                    <div class="container">
                        <div class="row">

                            <div class="custom-block">
                                <div class="custom-block-body">
                                    <div class="wrapper container">
                                        <h5 class="mb-3">Effective Date: 01/08/2024</h5>

                                        <p><span style="font-size:11pt;">Welcome to LabBox (&quot;LabBox,&quot;
                                                &quot;we,&quot; &quot;us,&quot; or
                                                &quot;our&quot;). We prioritize the protection of your personal
                                                information and privacy. If you have any
                                                questions or concerns about our policy or practices regarding your
                                                personal information, please contact
                                                us at
                                                contact@labbox.life.</span></p>
                                        <p><span style="font-size:11pt;">By using our services, you agree to the terms
                                                and practices outlined in this
                                                Privacy Policy. If you do not agree with any of these terms, please
                                                refrain from using our
                                                services.</span></p>
                                        <h5>Information We Collect
                                        </h5>
                                        <h6 class="sub-text-pink">Personal Information</h6>
                                        <p><span style="font-size:11pt;">We collect personal information that you
                                                provide directly to us when you
                                                register
                                                for an account, book an appointment, or utilize certain features of our
                                                services. This information may
                                                include:</span></p>
                                        <ul>
                                            <li style="list-style-type:disc;font-size:11pt;">
                                                <p><span style="font-size:11pt;">Name</span></p>
                                            </li>
                                            <li style="list-style-type:disc;font-size:11pt;">
                                                <p><span style="font-size:11pt;">Contact information (email address,
                                                        phone number)</span></p>
                                            </li>
                                            <li style="list-style-type:disc;font-size:11pt;">
                                                <p><span style="font-size:11pt;">Home address</span></p>
                                            </li>
                                            <li style="list-style-type:disc;font-size:11pt;">
                                                <p><span style="font-size:11pt;">Date of birth</span></p>
                                            </li>
                                            <li style="list-style-type:disc;font-size:11pt;">
                                                <p><span style="font-size:11pt;">Payment information</span></p>
                                            </li>
                                        </ul>
                                        <h6 class="sub-text-pink">Device and Usage
                                            Information</h6>
                                        <p><span style="font-size:11pt;">When you interact with our platform, we may
                                                automatically collect certain
                                                information about your device and usage patterns, including:</span></p>
                                        <ul>
                                            <li style="list-style-type:disc;font-size:11pt;">
                                                <p><span style="font-size:11pt;">Device type and operating
                                                        system</span>
                                                </p>
                                            </li>
                                            <li style="list-style-type:disc;font-size:11pt;">
                                                <p><span style="font-size:11pt;">IP address and access times</span></p>
                                            </li>
                                            <li style="list-style-type:disc;font-size:11pt;">
                                                <p><span style="font-size:11pt;">Features accessed and usage
                                                        patterns</span></p>
                                            </li>
                                            <li style="list-style-type:disc;font-size:11pt;">
                                                <p><span style="font-size:11pt;">Geolocation data (if enabled)</span>
                                                </p>
                                            </li>
                                            <li style="list-style-type:disc;font-size:11pt;">
                                                <p><span style="font-size:11pt;">App performance and crash logs</span>
                                                </p>
                                            </li>
                                        </ul>
                                        <h5>How We Use Your
                                            Information</h5>
                                        <h6 class="sub-text-pink">Service Delivery</h6>
                                        <p><span style="font-size:11pt;">We use the information we collect to deliver,
                                                maintain, and improve our
                                                services,
                                                including:</span></p>
                                        <ul>
                                            <li style="list-style-type:disc;font-size:11pt;">
                                                <p><span style="font-size:11pt;">Coordinating sample collection and
                                                        diagnostic testing</span></p>
                                            </li>
                                            <li style="list-style-type:disc;font-size:11pt;">
                                                <p><span style="font-size:11pt;">Sending notifications and updates
                                                        related to your appointments</span>
                                                </p>
                                            </li>
                                            <li style="list-style-type:disc;font-size:11pt;">
                                                <p><span style="font-size:11pt;">Providing personalized recommendations
                                                        based on your health
                                                        profile</span></p>
                                            </li>
                                            <li style="list-style-type:disc;font-size:11pt;">
                                                <p><span style="font-size:11pt;">Responding to customer inquiries and
                                                        support requests</span></p>
                                            </li>
                                            <li style="list-style-type:disc;font-size:11pt;">
                                                <p><span style="font-size:11pt;">Processing payments for our
                                                        services</span></p>
                                            </li>
                                        </ul>
                                        <h6 class="sub-text-pink">Personalization</h6>
                                        <p><span style="font-size:11pt;">We may use your information to tailor your
                                                experience on our platform,
                                                offering
                                                personalized content and recommendations based on your preferences and
                                                medical history.</span></p>
                                        <h6 class="sub-text-pink">Compliance and Legal
                                            Obligations</h6>
                                        <p><span style="font-size:11pt;">We may use your information to comply with
                                                legal obligations, such as
                                                responding to
                                                lawful requests and court orders, and to protect our rights, property,
                                                or safety, as well as those of
                                                our users
                                                and others.</span></p>
                                        <h5>Sharing and Disclosure of
                                            Information</h5>
                                        <h6 class="sub-text-pink">Third-Party Service
                                            Providers</h6>
                                        <p><span style="font-size:11pt;">We may share your information with trusted
                                                third-party service providers who
                                                assist
                                                us in operating our platform, conducting our business, and servicing
                                                you. These providers are obligated
                                                to
                                                protect your information and use it only for the purposes we
                                                specify.</span></p>
                                        <h6 class="sub-text-pink">Business Transactions
                                        </h6>
                                        <p><span style="font-size:11pt;">In the event of a merger, acquisition, or sale
                                                of all or a portion of our
                                                assets,
                                                your personal information may be transferred as part of the transaction.
                                                We will notify you of any such
                                                change
                                                and provide you with choices regarding your information.</span></p>
                                        <h6 class="sub-text-pink">With Your Consent</h6>
                                        <p><span style="font-size:11pt;">We will share your personal information with
                                                third parties for marketing
                                                purposes
                                                only with your explicit consent.</span></p>
                                        <h6 class="sub-text-pink">Legal Requirements
                                        </h6>
                                        <p><span style="font-size:11pt;">We may disclose your information if required
                                                to
                                                do so by law or in response to
                                                valid requests by public authorities (e.g., a court or a government
                                                agency).</span></p>
                                        <h5>Data Security</h5>
                                        <p><span style="font-size:11pt;">We implement appropriate technical and
                                                organizational measures to protect your
                                                personal information from unauthorized access, disclosure, alteration,
                                                and destruction. However, no
                                                method of
                                                electronic transmission or storage is completely secure, and we cannot
                                                guarantee absolute
                                                security.</span></p>
                                        <h5>Data Retention</h5>
                                        <p><span style="font-size:11pt;">We retain your personal information only for
                                                as
                                                long as necessary to fulfill
                                                the
                                                purposes outlined in this Privacy Policy, or as required by law.</span>
                                        </p>
                                        <h5>Your Rights and
                                            Choices</h5>
                                        <h6 class="sub-text-pink">Account Information
                                        </h6>
                                        <p><span style="font-size:11pt;">You can access, update, or delete your account
                                                information at any time by
                                                logging
                                                into your account or contacting us. If you choose to delete your
                                                account, we will remove your
                                                information from
                                                our systems, except for information we are required to retain by
                                                law.</span></p>
                                        <h6 class="sub-text-pink">Communication
                                            Preferences</h6>
                                        <p><span style="font-size:11pt;">You may opt out of receiving promotional
                                                communications from us by following
                                                the
                                                unsubscribe instructions included in those communications or by
                                                adjusting your account settings.</span>
                                        </p>
                                        <h6 class="sub-text-pink">Access and Correction
                                        </h6>
                                        <p><span style="font-size:11pt;">Subject to applicable law, you may have the
                                                right to access the personal
                                                information we hold about you and to request that we correct or delete
                                                it. To exercise these rights,
                                                please
                                                contact us using the information below.</span></p>
                                        <h6 class="sub-text-pink">Account Deletion</h6>
                                        <p><span style="font-size:11pt;">To delete your account and all associated
                                                personal information, please contact
                                                us.
                                                Note that deleting your account will permanently remove all your data
                                                from our systems, and we may
                                                retain
                                                certain information as required by law or for legitimate business
                                                purposes.</span></p>
                                        <h5>Changes to This Privacy
                                            Policy</h5>
                                        <p><span style="font-size:11pt;">We may update this Privacy Policy from time to
                                                time to reflect changes in our
                                                practices or applicable laws. Any changes will be posted on this page
                                                with an updated effective date. We
                                                encourage you to review this Privacy Policy periodically.</span></p>
                                        <h5>Contact Us</h5>
                                        <p><span style="font-size:11pt;">If you have any questions or concerns about
                                                this Privacy Policy or our data
                                                practices, please contact us at:</span></p>
                                        <p><strong><span style="font-size:11pt;"
                                                    class="sub-text-pink">Email:</span></strong><span
                                                style="font-size:11pt;">&nbsp;contact@labbox.life</span><span
                                                style="font-size:11pt;"><br></span><strong><span
                                                    style="font-size:11pt;"
                                                    class="sub-text-pink">Phone:</span></strong><span
                                                style="font-size:11pt;">&nbsp;+91 99247 22248</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-4">
                    <img src="https://labbox.s3.ap-south-1.amazonaws.com/images/vertical-logo.svg" class="footer-logo"
                        style="width: 50%;" alt="">
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <h5 class="site-footer-title mb-3">Quick Links</h5>

                    <ul class="footer-menu">
                        <li class="footer-menu-item"><a href="privacy-policy" class="footer-menu-link">Privacy
                                Policy</a></li>

                        <li class="footer-menu-item"><a href="terms-of-use" class="footer-menu-link">Terms of
                                service</a></li>

                        <li class="footer-menu-item"><a href="refund-policy" class="footer-menu-link">Cancellation
                                & Refund Policy</a></li>

                        <li class="footer-menu-item"><a href="#section_3" class="footer-menu-link">Become a
                                Phlebotomist</a></li>

                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Partner with us</a>
                        </li>
                        <li class="footer-menu-item "><a href="delete-account" class="footer-menu-link">Delete Account</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mx-auto">
                    <h5 class="site-footer-title mb-3">Contact Infomation</h5>

                    <p class="text-white d-flex mb-2">
                        <i class="bi-telephone me-2"></i>

                        <a href="tel:+919924722248" class="site-footer-link">
                            +91 99247-22248
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <i class="bi-envelope me-2"></i>

                        <a href="mailto:contact@labbox.life" class="site-footer-link">
                            contact@labbox.life
                        </a>
                    </p>

                    <p class="text-white d-flex mt-3">
                        <i class="bi-geo-alt me-2"></i>
                        102, 1st Floor, Anupam Square, Mahadev Chowk, Motavarachaa, Surat, Gujarat 395006
                    </p>

                    <a href="https://maps.app.goo.gl/VpMJNsnafDWHTQvN8" target="_blank"
                        class="custom-btn btn mt-3">Get
                        Direction</a>
                </div>
            </div>
        </div>

        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-7 col-12">
                        <p class="copyright-text mb-0">Copyright © 2021 <a href="#">Labbox.life</a><a
                                href="https://labbpx.life" target="_blank"></a></p>
                    </div>

                    <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-twitter"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-facebook"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-instagram"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-linkedin"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="https://youtube.com/templatemo" class="social-icon-link bi-youtube"></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="../public/home/js/jquery.min.js"></script>
    <script src="../public/home/js/bootstrap.min.js"></script>
    <script src="../public/home/js/jquery.sticky.js"></script>
    <script src="../public/home/js/click-scroll.js"></script>
    <script src="../public/home/js/counter.js"></script>
    <script src="../public/home/js/custom.js"></script>

</body>

</html>
